body {
    background-image: url("../images/background.gif");
    background-size: cover;
    font-family: 'Righteous',
        cursive;
}

img {
    max-width: 150px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

h4 {
    color: #ffffcc;
    /* background: grey; */

}

h5 {
    color: #AA6E6F;
}

.border-secondary {
    background: black;
}

.card-title {
    color: white;
}

#cardstyle {
    background: #0413A5;
    text-align: center;
}

.charmenu {
    text-align: center;
}

.card {
    justify-content: center;
}